@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
.header {
  @include font-title;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 50px;
  padding-left: $diary__timeLine-padding--left;
}
