@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "abstracts/_responsive.scss";
.wrapper {
  padding-top: calc($header-height + 3.2rem);
  display: flex;
  flex-direction: column;
  background-color: $gray-background;
  min-height: 100%;
  @include medium-viewport {
    padding-top: calc($mobile-header-height + 2rem);
  }
  @include small-viewport {
    padding-top: $mobile-header-height;
  }
  .mainContainer {
    align-self: center;
    width: $post-width;
    margin-bottom: $tab-bar-height;
    position: relative;
    // animation: transitionIn 300ms;
    // @keyframes transitionIn {
    //   0% {
    //     transform: translateX(40%);
    //   }
    //   100% {
    //     transform: translateX(0);
    //   }
    // }
    @include medium-viewport {
      padding: 0 $mobile-diary__timeLine-padding--left 0
        $mobile-diary__timeLine-padding--left;
    }
    @include small-viewport {
      width: 100%;
      padding: 0;
    }
    .loadMoreBtn {
      border-radius: 1rem;
      @include blockBtn;
    }
    .loadMoreBtn:hover {
      background-color: $hover-color;
      @include hoverAnimation;
    }
    .noLoadPosts {
      // position: absolute;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .description {
        text-align: center;
        font-weight: 500;
        letter-spacing: -1px;
        font-size: $mobile-font-small;
      }
    }
  }
  .addBtn {
    background-color: white;
    border: 2px solid $main-black-color;
    background-color: $blue;
    width: 6rem;
    height: 6rem;
    position: fixed;
    bottom: 5rem;
    left: calc($post-width + (100% - 47rem) / 2 + 3rem);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 200ms;
    @include medium-viewport {
      width: 5rem;
      height: 5rem;
      left: calc(100% - $mobile-diary__timeLine-padding--left * 2);
    }
    @include small-viewport {
      left: calc(100% - $mobile-diary__timeLine-padding--left * 2 - 0.5rem);
    }
    .imageContainer {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      box-sizing: border-box;
      @include medium-viewport {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .addBtn:hover {
    background-color: $primary-color;
    transition: background 200ms;
  }
}
