@import "../abstracts/variables.module.scss";
@import "../base/typography.module.scss";
.tabBar {
  height: $tab-bar-height;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $main-black-color;
  border-radius: 20px 20px 0 0;
  color: $white;
  display: flex;
  justify-content: center;
  .menu {
    flex-basis: 20%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .menuBigLogo {
      height: 100%;
      width: 100%;
    }
    .menuLogo {
      height: 70%;
      width: 70%;
      border: 1px solid white;
    }
    p {
      font-family: $font-familly--thin;
      font-size: $font-small;
    }
  }
}
