@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
.wrapper {
  padding-top: $nav--upload;
  padding-bottom: $small-input--height;
  .mainContainer {
    overflow-y: auto;
    height: 100vh;
    max-height: calc(100vh - $nav--upload - $small-input--height);
    display: flex;
    flex-direction: column;
    > * {
      padding-left: 8.2vw;
      padding-right: 8.2vw;
    }
    .owner {
      @include font--gray--light;
      display: flex;
      justify-content: space-between;
    }
    .tag {
      @include font-title-of-content;
      @include boxRadius;
      padding: $padding--title-of-content;
      margin-top: 3vh;
      margin-left: 8.2vw;
      margin-right: 8.2vw;
      border-radius: 1rem;
    }
    .social {
      @include font-not-important;
      margin-top: 1rem;
      border-top: 3px solid black;
      border-bottom: 3px solid black;
      padding: 2px 8.2vw;
      display: flex;
      gap: 3rem;
    }
    .commentContainer {
      @include font-not-important;
      border-bottom: 2px solid black;
      margin-top: 1rem;
      margin-bottom: 1rem;
      .commentTop {
        font-family: establishRoomNo703OTF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .commentDeleteBtn {
          @include boxRadius;
          background-color: $primary-color;
          border: 2px solid black;
        }
      }
      .commentTime {
        @include font--gray--light;
        text-align: right;
      }
    }
    .content {
      @include font-content;
    }
  }
}
.commentForm {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  padding: 0;
  @include boxRadius;
  .commentInput {
    width: 100%;
    height: $small-input--height;
    border-right: 4px solid black;
  }
  .commentBtn {
    background-color: $primary-color;
    border-radius: 1rem;
  }
}
