@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "abstracts/_responsive.scss";
.wrapper {
  // 밑에는 formOfPosting에서 붙여욘거
  padding-top: calc($header-height + 3rem);
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  background-color: $gray-background;
  min-height: 100%;
  padding-bottom: $small-input--height;
  .mainContainer {
    display: flex;
    flex-direction: column;
    width: $post-width;
    .mainContent {
      border: 1px solid $gray-darker;
      border-radius: 10px;
      background-color: $white;
    }
    @keyframes fadeIn {
      0% {
        opacity: 0.1;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
// .commentContainer {
//   // @include font-not-important;
//   border-bottom: 1px solid $gray-darker;
//   .commentTop {
//     font-family: JGaegujaengyi-Bold-KO;
//     letter-spacing: -2px;
//     position: relative;
//     .userId {
//       padding-bottom: 3px;
//     }
//     .commentDeleteBtn {
//       border-radius: 1rem;
//       position: absolute;
//       top: 0;
//       right: 0;
//       width: 2.5rem;
//       height: 2.5rem;
//       background-color: $hover-color;
//     }
//   }
//   .content {
//     padding-bottom: 2px;
//   }
//   .commentTime {
//     @include font--gray--light;
//     // text-align: right;
//     font-family: JGaegujaengyi-Medium-KO;
//     font-size: 1.2rem;
//   }
// }
// .commentForm {
//   // @include boxRadius;
//   // position: fixed;
//   // left: 1rem;
//   // right: 1rem;
//   // bottom: 0;
//   // display: flex;
//   // border: none;
//   // background-color: #dadada61;
//   border: 1px solid red;
//   // .commentInput {
//   //   width: 100%;
//   //   height: calc($small-input--height - 1rem);
//   //   padding: 1rem 2rem;
//   // }
//   .commentInput {
//     padding: 1rem 2rem;
//   }
//   .commentBtn {
//     // background-color: $primary-color;
//     border-radius: 1rem;
//     color: #25b2e9;
//     width: calc($small-input--height - 1rem);
//     font-family: "Pretendard";
//     // height: calc($small-input--height - 1rem);
//   }
// }
