@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "../components/buttons.module.scss";
.headerNav {
  position: fixed;
  height: $nav--upload;
  top: 0;
  left: 0;
  right: 0;
  background-color: $main-black-color;
  display: flex;
  justify-content: space-between;
  .basic {
    @include nav__button--bold;
    flex-basis: 15vw;
  }
  .hiddenMenu {
    position: absolute;
    top: $nav--upload;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 10rem;
  }
  .updateBtn {
    font-family: $font-familly--light;
    color: $white;
    background-color: $main-black-color;
  }
  .deleteBtn {
    font-family: $font-familly--light;
    background-color: $primary-color;
  }
  :hover {
    background-color: $white;
    color: $main-black-color;
  }
}
