@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "abstracts/_responsive.scss";
.postContainer {
  @include boxRadius;
  margin-bottom: 2vh;
  font-size: $font-regular--small;
  .isUpdated {
    font-size: 1rem;
    font-weight: 300;
    color: $gray-light-color;
    letter-spacing: -1px;
  }
  .title {
    @include font-title-of-content;
    padding: $padding--title-of-content;
    border-bottom: $border--normal;
    @include medium-viewport {
      padding: $mobile-padding--title-of-content;
    }
  }
  .content {
    @include font-content;
    margin: $padding--content;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    min-height: 5rem;
    @include medium-viewport {
      margin: $mobile-padding--content;
    }
  }
  .owner {
    @include font--gray--light;
    padding: $padding--owner;
    display: flex;
    justify-content: space-between;
    font-size: $font-small;
    margin: 1rem 0 0.5rem 0;
    @include medium-viewport {
      padding: $mobile-padding--owner;
    }
  }
  .social {
    @include font--gray--light;
    border-top: 2px solid $gray-light-color;
    display: flex;
    height: 2vh;
    min-height: 3rem;
    display: flex;
    align-items: center;
    @include medium-viewport {
      padding-left: 1rem;
    }
    .comment {
      position: relative;
      width: 2vh;
      min-width: 3rem;
      height: 100%; //이걸 추가해야 부모에 flex 쓸 수 잇었음
      max-height: 80%;
    }
    p {
      font-size: $mobile-font-small;
    }
  }
  .commentContainer {
    border-bottom: 1px solid black;
    .commentTop {
      display: flex;
      justify-content: space-between;
      .commentDeleteBtn {
        background-color: $primary-color;
      }
    }
    .commentTime {
      text-align: right;
    }
  }
}
.postContainer:hover {
  background-color: $hover-color;
}
