@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "abstracts/_responsive.scss";
.wrapper {
  @include wrapperWithHeaderPadd;
  padding-bottom: 3rem;
  padding-top: calc($header-height + 3rem);
  @include small-viewport {
    padding-bottom: 0;
    padding-top: $header-height;
  }
}
.mainContainer {
  @include mainContainer;
}
.mainContent {
  @include boxRadius;
  @include mainContent;
  margin-bottom: 2vh;
  font-size: $font-regular--small;
  background-color: $white;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  .isUpdated {
    font-size: 1rem;
    font-weight: 300;
    color: $gray-light-color;
    letter-spacing: -1px;
  }
  .title {
    @include font-title-of-content;
    padding: $padding--title-of-content;
    border-bottom: $border--normal;
    @include medium-viewport {
      padding: $mobile-padding--title-of-content;
    }
  }
  .photoForm {
    align-self: center;
    background-color: $gray-background;
    border-radius: 3px;
    margin-bottom: 1rem;
    .whenPhoto {
      cursor: pointer;
      .imageContainer {
        position: relative;
        width: 3.5rem;
        height: 3.5rem;
        box-sizing: border-box;
        @include medium-viewport {
          width: 3rem;
          height: 3rem;
        }
      }
    }
    .noPhoto {
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .imageContainer {
        position: relative;
        width: 7rem;
        height: 7rem;
        box-sizing: border-box;
      }
    }
  }
  .makeFull {
    width: 100%;
    height: 47rem;
    margin: 0;
    @include small-viewport {
      height: 35rem;
    }
  }
  .content {
    @include font-content;
    padding: $padding--content;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    min-height: 5rem;
    .name {
      font-weight: 600;
      padding-right: 5px;
      font-size: 1.4rem;
    }
    @include medium-viewport {
      padding: $mobile-padding--content;
    }
  }
  textarea.content {
    border-top: 1px solid $gray-darker;
    flex-grow: 1;
    overflow-y: auto;
  }
  .owner {
    @include font--gray--light;
    font-weight: 600;
    padding: $padding--content;
    display: flex;
    justify-content: space-between;
    font-size: $font-smallest;
    font-size: 1.4rem;
    margin: 1rem 0 0.5rem 0;
    @include medium-viewport {
      padding: $mobile-padding--owner;
    }
  }
  .social {
    @include font--gray--light;
    border-top: $border--normal;
    display: flex;
    padding-left: 1rem;
    height: 4rem;
    @include medium-viewport {
      padding-left: 1.6rem;
    }
    .commentLogoContainer {
      display: flex;
      align-items: center;
      padding-right: 1rem;
      .comment {
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
      }
      p {
        font-size: $mobile-font-small;
      }
    }
    .commentForm {
      width: 100%;
      display: flex;
      .commentInput {
        flex: 1;
      }
      .commentBtn {
        color: #25b2e9;
        font-family: "Pretendard";
        font-weight: 600;
        height: 4rem;
        width: 4rem;
        font-size: 1.2rem;
      }
    }
  }
  .commentContainer {
    border-top: 1px solid $gray-darker;
    padding: $padding--title-of-content;
    @include medium-viewport {
      padding: $mobile-padding--title-of-content;
    }
    .commentTop {
      font-family: JGaegujaengyi-Bold-KO;
      letter-spacing: -2px;
      position: relative;
      .userId {
        padding-bottom: 3px;
      }
      .commentDeleteBtn {
        border-radius: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        width: 2.5rem;
        height: 2.5rem;
        background-color: $hover-color;
      }
    }
    .commentText {
      padding-bottom: 2px;
      font-size: 1.2rem;
    }
    .commentTime {
      @include font--gray--light;
      font-family: JGaegujaengyi-Medium-KO;
      font-size: 1.2rem;
    }
  }
}
