@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
.wrapper {
  padding-top: calc($header-height + 3vh);
  padding-bottom: $tab-bar-height;
  .mainContainer {
    height: 100vh;
    max-height: calc(100vh - $header-height - 3vh - $tab-bar-height);
  }
}
