@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
.wrapper {
  padding-top: $nav--upload;
  .mainContainer {
    height: 100vh;
    max-height: calc(100vh - $nav--upload);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    .dateForm {
      padding-top: $nav--upload;
      padding-left: $diary__timeLine-padding--left;
      .date {
        //display: inline-block;
        border: 0;
        height: 4.7vh;
      }
    }
    .photoForm {
      padding-left: $diary__timeLine-padding--left;
      .border {
        border: 1px solid black;
      }
      label {
        display: inline-block;
        position: relative; //썸네일이미지의 컨테이너로 쓰기 위함
        height: 35vh;
        width: 35vh;
        overflow: hidden;
        .thumbnail {
          position: absolute;
          top: 50%;
          left: 0;
          // width: 100%;
          // max-height: 100%;
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          transform: translate(0, -50%);
        }
      }
    }
    .textContainer {
      padding-top: 5vh;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .title {
        width: 100vw;
        height: 5vh;
        border-top: 1px solid $gray-color;
        border-bottom: 1px solid $gray-color;
        padding-left: $diary__timeLine-padding--left;
        padding-right: $diary__timeLine-padding--left;
      }
      .content {
        width: 100vw;
        flex-grow: 1;
        padding-left: $diary__timeLine-padding--left;
        padding-right: $diary__timeLine-padding--left;
        // background-color: $primary-color;
      }
    }
  }
}
