@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "abstracts/_responsive.scss";
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  align-items: center;
  .logoContainer {
    width: 20rem;
    height: 20rem;
    position: relative;
    @include medium-viewport {
      height: 15rem;
    }
  }
  p {
    font-family: $font-emphasis;
    font-size: $font-regular--large;
    @include medium-viewport {
      font-size: $mobile-font-regular;
    }
  }
  .loginBtn {
    @include largeBtn;
    @include medium-viewport {
      font-size: $mobile-font-regular;
    }
    position: fixed;
    width: 80vw;
    bottom: 22vh;
  }
}
