@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "abstracts/_responsive.scss";
.mainContainer {
  padding: 0 2rem;
  @include medium-viewport {
    padding: 2rem 3rem;
  }
  .menuTitle {
    font-family: $font-emphasis;
    font-size: $font-regular;
    padding-bottom: 1rem;
  }
  .history {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
  }
  .idOfUser {
    @include medium-viewport {
      font-size: $mobile-font-regurlar--smaller;
    }
  }
  .account {
    padding-top: 3rem;
    .accountList {
      cursor: pointer;
      :hover {
        background-color: $opacity-blue;
        @include hoverAnimation;
      }
      display: flex;
      flex-direction: column;
      .accountItem {
        display: flex;
        padding: 0.5rem 0;
        color: $main-black-color;
      }
      @include medium-viewport {
        font-size: $mobile-font-regurlar--smaller;
      }
    }
  }
}
