@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "abstracts/_responsive.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10vh;
  .title {
    @include font-title;
    padding: 40vh 10vw 6.5rem 10vw;
    @include medium-viewport {
      font-size: $mobile-font-largest;
    }
    .description {
      @include font-not-important;
      padding-top: 1rem;
      color: $gray-color;
      @include medium-viewport {
        font-size: $mobile-font-small;
      }
    }
  }
  .logo {
    position: fixed;
    right: 0;
    top: 0;
  }
  form {
    position: relative;
    padding: 5vw 10vw;
    @include medium-viewport {
      font-size: $mobile-font-regular;
    }
    .label {
      font-weight: 500;
      letter-spacing: -1px;
      @include medium-viewport {
        font-size: $mobile-font-small;
      }
    }
    input {
      font-size: 2rem;
      width: 100%;
      border-radius: 7px;
      margin-top: 2px;
      margin-bottom: 1.5rem;
      height: 4vh;
      min-height: 4rem;
      background-color: #20353d1b;
    }
    .upBtn {
      @include largeBtn;
      margin-bottom: 0.5rem;
      @include medium-viewport {
        font-size: $mobile-font-regular;
      }
    }
    .cancelBtn {
      @include largeBtn;
      background-color: $gray-light-color;
      border: none;
      @include medium-viewport {
        font-size: $mobile-font-regular;
      }
    }
  }
  .switchContainer {
    font-family: "Pretendard";
    font-weight: 600;
    color: $gray-color;
    border-top: 1px solid $gray-light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    @include medium-viewport {
      font-size: 1.6rem;
    }
    .switchBtn {
      font-family: $font-emphasis;
      color: #66b9da;
      padding: 1rem 2rem;
    }
    .switchBtn:hover {
      background-color: $gray-light-color;
    }
  }
}
