@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "abstracts/_responsive.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20vh;
  align-items: center;
  .mainContainer {
    @include mainContainer;
    width: 40rem;
    @include medium-viewport {
      width: 30rem;
    }
    @include small-viewport {
      width: 80%;
      padding: 0;
    }
  }
  @keyframes transitionIn {
    0% {
      transform: translateX(40%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .title {
    @include font-title;
    @include medium-viewport {
      font-size: $mobile-font-largest;
    }
    .description {
      font-family: "Pretendard";
      font-size: 1.6rem;
      padding-top: 1rem;
      color: $gray-color;
      @include medium-viewport {
        font-size: $mobile-font-small;
      }
    }
  }
  form {
    position: relative;
    display: flex;
    flex-direction: column;
    @include medium-viewport {
      font-size: $mobile-font-regular;
    }
    .inputContainer {
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }
    input {
      font-size: 1.6rem;
      letter-spacing: -0.5px;
      width: 100%;
      border-radius: 3px;
      margin-top: 0.5rem;
      height: 4vh;
      min-height: 4rem;
      padding: 0 1rem;
      background-color: $gray-background;
      border: 1px solid $gray-darker;
    }
    .upBtn,
    .cancelBtn {
      border-radius: 3px;
      margin-top: 0.5rem;
      height: 5rem;
      padding: 0;
      background-color: $blue;
      color: $white;
      font-family: "JGaegujaengyi-Medium-KO";
      @include medium-viewport {
        font-size: $mobile-font-regular;
      }
    }
    .cancelBtn {
      background-color: $gray-darker;
    }
  }
  .switchContainer {
    font-family: "Pretendard";
    letter-spacing: -0.3px;
    color: $gray-color;
    border-top: 1px solid $gray-light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    padding: 1rem;
    @include medium-viewport {
      font-size: 1.6rem;
    }
    .switchBtn {
      font-family: "Pretendard";
      font-weight: 300;
      font-size: 1.8rem;
      color: $blue;
      padding: 1rem 1rem;
      border-radius: 3px;
    }
  }
}
