@import "../base/typography.module.scss";

//font
@mixin font-title {
  font-family: $font-emphasis;
  font-size: 4rem;
}
@mixin font-menu {
  font-family: $font-emphasis;
  font-size: $font-regular--small;
}
@mixin font-title-of-content {
  font-size: $font-regular--small;
  // font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
}
@mixin font-content {
  font-size: $font-regurlar--smaller;
  font-size: 1.4rem;
  line-height: 2rem;
}
@mixin font-not-important {
  font-size: $font-regular--small;
}
@mixin font--gray--light {
  font-family: $font-emphasis;
  font-size: $font-regurlar--smaller;
  color: $gray-light-color;
  letter-spacing: -2px;
}

//layout
@mixin wrapperWithHeaderPadd {
  // padding-top: calc($header-height + 3rem);
  // padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  background-color: $gray-background;
  min-height: 100%;
  // @include small-viewport {
  //   padding-top: $header-height;
  //   // padding-bottom: 0;
  // }
}
@mixin mainContainer {
  display: flex;
  flex-direction: column;
  width: $post-width;
}
@mixin mainContent {
  border: 1px solid $gray-darker;
  border-radius: 10px;
  background-color: $white;
}

//position
@mixin bottomFullPosition {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin leftPosition {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 50%;
}
@mixin rightPosition {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
}

//background and font color
@mixin bkBackWtFont {
  background-color: $main-black-color;
  color: white;
}
@mixin primaryBackBkFont {
  background-color: $blue;
  color: $main-black-color;
}

//btn
@mixin blockBtn {
  display: block;
  margin: 0 auto;
  padding: 1rem;
}
@mixin largeBtn {
  letter-spacing: -1px;
  color: white;
  font-family: "JGaegujaengyi-Light-KO";
  padding: 1rem 4rem;
  border-radius: 10rem;
  // height: 9vh;
  // max-height: 7rem;
  // width: 100%;
  // border-radius: 4rem;
  background-color: black;
  border: 4px solid black;
  font-size: $font-regular--large;
  @include medium-viewport {
    max-height: 6.5rem;
  }
}

//border
@mixin boxRadius {
  border-radius: 1rem;
  border: $border--normal;
}
@mixin contentRadius {
  border-radius: 1rem;
}

//hover
@mixin hoverAnimation {
  transition: background 200ms;
  cursor: pointer;
}
