@import "../base/typography.module.scss";

//font
@mixin font-title {
  font-family: $font-familly--bold;
  font-size: $font-regular--large;
}
@mixin font-menu {
  font-family: $font-familly--bold;
  font-size: $font-regular--small;
  color: $white;
}
@mixin font-content {
  font-family: $font-familly--regular;
  font-size: $font-regular--small;
}
@mixin font--gray--light {
  font-family: $font-familly--extraLight;
  color: $gray-color;
  letter-spacing: -1px;
}
//position
@mixin bottomFullPosition {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin leftPosition {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 50%;
}
@mixin rightPosition {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
}

//background and font color
@mixin bkBackWtFont {
  background-color: $main-black-color;
  color: white;
}
@mixin primaryBackBkFont {
  background-color: $primary-color;
  color: $main-black-color;
}
