// scale
$tab-bar-height: 6vh;
$header-height: 11vh;
$nav--upload: 5.5vh;
$small-input--height: 100px;
//color
$main-color: #fffaf2;
$main-black-color: #191818;
$white: #ffffff;
$primary-color: #ff9062;
$gray-color: #979797;
$gray-light-color: #c5c5c5;
$opacity-main-color: #fbf0de;
$opacity-black-color: #191818dc;
//typo
$bold: Hahmlet;

//padding
$diary__timeLine-padding--left: 12vw;
$diary__timeLine-padding--right: 7vw;
