@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@mixin nav__button--bold {
  @include font-menu;
  background-color: transparent;
  outline: 0;
}
.container {
  display: flex;
  justify-content: center;
}
.importantBtn {
  // color: $white;
  background-color: black;
  background-color: $blue;
  border-radius: 10px;
  padding: 1rem 2rem;
  border: 1px solid $gray-darker;
  letter-spacing: -2px;
  font-family: JGaegujaengyi-Light-KO;
  font-size: 2rem;
}
