.container {
  position: relative;
  min-width: 20rem;
  max-width: 100%;
  min-height: 30vh;
  max-height: 50vh;
  margin: 0.5rem;
  display: flex;
  border-bottom: 4px solid black;
  .photo {
    object-position: left top;
  }
}
