@import "../abstracts/variables.module.scss";
@import "../base/typography.module.scss";
@import "../abstracts/mixins.module.scss";
.tabBar {
  height: $tab-bar-height;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid black;
  border-radius: 8px 8px 0 0;
  color: $white;
  display: flex;
  justify-content: center;
  .menu {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    .menuBigLogo {
      height: 100%;
      width: 100%;
    }
    .menuLogo {
      height: 70%;
      width: 70%;
    }
    p {
      @include font-menu;
      // font-family: $font-familly--thin;
      // font-size: $font-small;
    }
  }
}
