@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "buttons.module.scss";
.headerNav {
  position: fixed;
  z-index: 100;
  height: $nav--upload;
  top: 0;
  left: 0;
  right: 0;
  background-color: $blue;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid black;
  .basic {
    @include nav__button--bold;
    flex-basis: 15vw;
  }
  .hiddenMenu {
    @include font-menu;
    position: absolute;
    top: $nav--upload;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 10rem;
  }
  .updateBtn {
    background-color: white;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-radius: 3px;
  }
  .deleteBtn {
    background-color: $primary-color;
    border: 4px solid black;
    border-radius: 3px;
  }
  :hover {
    background-color: $white;
    color: $main-black-color;
  }
}
