$font-familly--regular: Hahmlet-Regular;
$font-familly--thin: Hahmlet-Thin;
$font-familly--extraLight: Hahmlet-ExtraLight;
$font-familly--light: Hahmlet-Light;
$font-familly--medium: Hahmlet-Medium;
$font-familly--semiBold: Hahmlet-SemiBold;
$font-familly--bold: Hahmlet-Bold;
$font-familly--extraBold: Hahmlet-ExtraBold;
$font-familly--black: Hahmlet-Black;

$font-small: 1.2rem;
$font-regular--small: 1.6rem;
$font-regular: 1.8rem;
$font-regular--large: 2.4rem;
$font-largest: 4.4rem;
