@import "./base/reset.module.scss";
@import "./abstracts/variables.module.scss";
@import "./base/typography.module.scss";
html {
  font-size: 62.5%;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Pretendard", -apple-system, sans-serif;
  background-color: $main-color;
  height: 100%;
}
body {
  font-size: 1.8rem;
  overflow-x: hidden;
}
#__next {
  height: 100%;
}
a {
  text-decoration: none;
}
.noScroll {
  height: 100%;
  overflow: hidden;
}
