@import "./base/reset.module.scss";
@import "./abstracts/variables.module.scss";

/* import 시에는 언더바를 제외한 파일명만을 입력합니다.
파일명에 _ 가 붙는 경우 @import 되어 사용될 것임을 암시함.
'normalize.css', 'reset.css' 로 검색하면 많은 boiler plate code 가 나옴.
(최근에는 normalize.css 를 많이 사용.)

가장 앞에 언더바를 적으면 이 파일은 컴파일 되지 않고 나중에 컴파일은 메인으로 사용하는 파일에 한꺼번에 됩니다.
프로젝트 규모가 커지면 파일들을 header나 side-menu 같이 각 기능과 부분으로 나눠 유지보수가 쉽도록 관리하게 됩니다.
이 경우 파일이 점점 많아지는데, 모든 파일이 컴파일 시 각각의 ~.css 파일로 나눠서 저장된다면 관리나 성능 차원에서 문제가 될 수 있겠죠.
그래서 Sass는 Partials 기능을 지원합니다.
파일 이름 앞에 _를 붙여(_header.scss와 같이) @import로 가져오면 컴파일 시 ~.css 파일로 컴파일하지 않습니다.

\ */
html {
  font-size: 62.5%;
}
html,
body {
  background-color: $main-color;
  padding: 0;
  margin: 0;
  font-family: Hahmlet-Regular, -apple-system, sans-serif;
  background-color: $main-color;
  height: 100%;
}
body {
  font-size: 1.8rem;
}
#__next {
  height: 100%;
}
a {
  text-decoration: none;
}
