@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "abstracts/_responsive.scss";
.dayContainer {
  @include font-content;
  @include boxRadius;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  cursor: pointer;
  // color: black;
  background-color: $white;
  .dateOfDiary {
    // @include contentRadius;
    z-index: 1;
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    top: 1.6rem;
    left: 1rem;
    // font-size: 2rem;
    // font-weight: 500;
    @include font-title-of-content;
    font-family: "JGaegujaengyi-Light-KO";
    letter-spacing: -2px;
    @include medium-viewport {
      top: 1.5rem;
      left: 1rem;
    }
    span {
      // background-color: $blue;
      background-color: $main-black-color;
      border-radius: 1rem;
      // border: $border--normal;
      // border: 3px solid $main-black-color;
      padding: 0.6rem 1.2rem;
      color: $white;
    }
    @include medium-viewport {
      font-size: 1.4rem;
    }
  }
  .diary {
    padding: $padding--content;
    padding-bottom: 3vh;
    .diaryTitle {
      @include font-title-of-content;
      margin-bottom: 0.5rem;
    }
    .diaryContent {
      @include font-content;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    @include medium-viewport {
      padding: $mobile-padding--content;
      padding-bottom: 2rem;
    }
  }
}
.dayContainer:hover {
  @include hoverAnimation;
}
