@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";
@import "abstracts/_responsive.scss";
.dayContainer {
  @include font-content;
  @include boxRadius;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  cursor: pointer;
  color: black;
  .dateOfDiary {
    @include contentRadius;
    z-index: 1;
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    font-size: 2rem;
    font-weight: 500;
    @include medium-viewport {
      top: 1.5rem;
      left: 1rem;
    }
    span {
      background-color: $blue;
      border-radius: 2rem;
      border: $border--normal;
      padding: 0.5rem 1rem;
    }
    @include medium-viewport {
      font-size: 1.4rem;
    }
  }
  .diary {
    padding: $padding--content;
    padding-bottom: 3vh;
    .diaryTitle {
      @include font-title-of-content;
      margin-bottom: 2rem;
    }
    .diaryContent {
      @include font-content;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
.dayContainer:hover {
  background-color: $hover-color;
}
