@import "abstracts/variables.module.scss";
@import "abstracts/mixins.module.scss";

.mainContainer {
  height: 100vh;
  max-height: calc(100vh - $header-height - $tab-bar-height);
  //height: 100vh와 max-height이렇게 설정한다. 그래서 메인컨테이너에 스크롤 안생겼다.
  overflow-y: auto;
  padding-top: 2rem;
  padding-left: $diary__timeLine-padding--left;
  padding-right: $diary__timeLine-padding--right;
  .dayContainer {
    @include font-content;
    @include boxRadius;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    cursor: pointer;
    color: black;
    .dateOfDiary {
      @include contentRadius;
      z-index: 1;
      position: absolute;
      top: 2.5rem;
      left: 2rem;
      span {
        background-color: $blue;
        border-radius: 2rem;
        border: 4px solid black;
        padding: 0.5rem 1rem;
      }
      font-size: 2rem;
      font-weight: 500;
    }
    .diary {
      @include space-content;
      padding-bottom: 3vh;
      .diaryTitle {
        @include font-title-of-content;
        margin-bottom: 2rem;
      }
      .diaryContent {
        @include font-content;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
  .loadMoreBtn {
    @include blockBtn;
  }
  .dayContainer:hover {
    background-color: $hover-color;
  }
  .loadMoreBtn:hover {
    background-color: $hover-color;
  }
}
